<script src="../../js/sidebar.js"></script>
<!-- ------------------------datatable-------------- -->
<script>
    $(document).ready(function () {
      $('.table').DataTable();
    });
</script>
</body>
</html>

